@model BLL.DTOs.Products.DetailsProductDTO

@{
    ViewData["Title"] = "Details";
}

<h4 style="color:#232F3E;font-style:italic;font-weight:bold;">
    <i class="fa-solid fa-magnifying-glass mx-2 " style=" font-size:smaller"></i>
    Details Of Product name : @Model.Name 
</h4>

<div class="mt-4">
    <div class="row justify-content-center ">

        <div class="col-lg-6 col-sm-12 ">
            <div class="card  text-white" style="border:none;font-style:italic;background-color:#131921">

                <div class="card-body">
                 
                        <h3 style="color:#DFB162"> @Html.DisplayFor(model => model.Name)</h3>
                        <h5 style="color:#DFB162" class="card-text">@Html.DisplayFor(model => model.Description)</h5>
                   
                   
                    <dl class="row">

                        <dt class="col-md-4 col-sm-6">
                            @Html.DisplayNameFor(model => model.Price):
                        </dt>
                        <dd class="col-md-8  col-sm-6">
                            @Html.DisplayFor(model => model.Price)$
                        </dd>
                        <dt class="col-md-4 col-sm-6">
                            @Html.DisplayNameFor(model => model.Quantity):
                        </dt>
                        <dd class="col-md-8  col-sm-6">
                            @Html.DisplayFor(model => model.Quantity)
                        </dd>

                        <dt class="col-md-4 col-sm-6">
                            @Html.DisplayNameFor(model => model.Categories):

                        </dt>
                        <dd class="col-md-8  col-sm-6">
                          
                                <select class="form-select">
                                    @{
                                        if (Model.Categories != null)
                                        {
                                            foreach (var item in Model.Categories)
                                            {
                                                <option>@item.Name</option>
                                            }

                                        }

                                    }
                                </select>
                           
                            
                        </dd>
                        <dt class="col-md-4 col-sm-6">
                            @Html.DisplayNameFor(model => model.CustomFields):

                        </dt>
                        <dd class="col-md-8  col-sm-6">

                            @if (Model.CustomFields != null)
                            {
                           
                                foreach (var item in Model.CustomFields)
                                {
                                <dt class="col-md-4 col-sm-6">

                                        
                                        @Html.DisplayFor(Model =>item.Name):
                                </dt>
                                <dd class="col-md-8  col-sm-6">
                                        @if(item?.CustomFieldsData?.Value is not null)
                                        {
                                            
                                            @Html.DisplayFor(Model => item.CustomFieldsData.Value)

                                        }
                                  </dd>
                                }
                            }
                        
                        </dd>
                    </dl>
                    <div>

                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                    </div>
                </div>

            </div>

        </div>


      


    </div>


    
</div>

